body{
    font-family: Microsoft YaHei;
}
h3{
    text-align: center;
    margin-top: 10px;
}
h5{
    margin-bottom: 13px;
}
footer{
    text-align: center;
    color: darkgrey;
    font-size: 13px;
}
button{
    position: relative;
    margin-bottom: 10px;
    color: white;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 8px;
}
canvas{
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
address{
    margin-bottom: 8px;
    font-size: 12px;
}
img.logo{
    width: 140px;
    height: 75px;
}
img.QRcode{
    width: 86px;
    height: 86px;
}
.title{
    text-align: center;
}
.light_font{
    font-weight: 100;
    color: rgb(100, 100, 100);
    margin-bottom: 0;
}
.content_center{
    text-align: center;
}
.limit_width{
    position: relative;
    width: 258px;
}
.surround{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.process{
    position: relative;
    margin-top: 164px;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.transfer{
    visibility: hidden;
    width: 100%;
}
.canvas_part{
    position: relative;
    text-align: center;
}
.input_part{
    position: relative;
}
.output_part {
    position: relative;
}
.input_canvas{
    position: relative;
    width: 256px;
    height: 256px;
}
.output_canvas{
    position: relative;
    display: inline-block;
    width: 256px;
    height: 256px;
}
.list_part{
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
.icon_part{
    text-align: center;
}
.single_part{
    position: relative;
    display: inline-block;
}
.single_icon_1{
    width: 92px;
    height: 28px;
    border-radius: 8px;
    cursor: pointer;
}
.single_icon_2{
    width: 85px;
    height: 24.5px;
    border-radius: 10px;
    cursor: pointer;
}
.control_part{
    text-align: center;
}
.evaluation_part{
    margin-top: 24px;
    text-align: center;
}
.evaluation{
    margin-bottom: 8px;
    cursor: pointer;
}
.evaluation_icon{
    width: 24px;
    height: 24px;
}
.selected{
    border:1px solid lightgrey;
}
.chosen{
    background-color: rgb(0, 176, 240);
}
.wide_button{
    padding-left: 12px;
    padding-right: 12px;
}
#input_canvas_1{
    z-index: 1;
}
#input_canvas_2{
    position: absolute;
    z-index: 2;
}
#input_canvas_3 {
    position: absolute;
    z-index: 3;
}
#list{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}