h3{
    text-align: center;
    margin-top: 10px;
}
footer{
    text-align: center;
    color: darkgrey;
    font-size: 13px;
}
button{
    position: relative;
    margin-left: 14px;
    margin-right: 14px;
    margin-bottom: 10px;
    padding: 5px 12px 5px 12px;
}
canvas{
    margin: 0;
    padding: 0;
    border: 1px solid black;
}
img.logo{
    width: 140px;
    height: 75px;
}
img.QRcode{
    width: 86px;
    height: 86px;
}
.title{
    text-align: center;
}
.light_font{
    font-weight: 100;
    color: darkgrey;
    margin-bottom: 0;
}
.content_center{
    text-align: center;
}
.limit_width{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 258px;
}
.surround{
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.process{
    position: relative;
    margin-top: 164px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.transfer{
    width: 100%;
}
.canvas_part{
    position: relative;
    text-align: center;
}
.input_part{
    position: relative;
}
.output_part {
    position: relative;
}
.input_canvas{
    position: relative;
    width: 256px;
    height: 256px;
}
.output_canvas{
    position: relative;
    display: inline-block;
    width: 256px;
    height: 256px;
}
.list_part{
    position: relative;
    display: inline-block;
    margin-left: 20px;
}
.icon_part{
    text-align: center;
}
.single_part{
    display: inline-block;
    vertical-align: middle;
}
.single_icon_1{
    width: auto;
    height: auto;
    cursor: pointer;
}
.single_icon_2{
    width: auto;
    height: auto;
    cursor: pointer;
}
.control_part{
    text-align: center;
}
.evaluation_part{
    text-align: center;
}
.evaluation{
    cursor: pointer;
}
.evaluation_icon{
    width: 36px;
    height: 36px;
}
.selected{
    border:1px solid lightgrey;
}
#input_canvas_1{
    z-index: 1;
}
#input_canvas_2{
    position: absolute;
    z-index: 2;
}
#input_canvas_3 {
    position: absolute;
    z-index: 3;
}